In [1]:
import pandas as pd

In [2]:
src_path = 'SYKE/flow/all_flows.parquet'

data = pd.read_parquet(src_path)

In [6]:
# Getting the gauges where water is pumped from one catchment to another
cross_catchment_stations = ['1092', '1093', '1115', '1352', '3683']
cross_data = data[cross_catchment_stations]
cross_data

            1092  1093  1115  1352  3683
datetime
1847-01-01   NaN   NaN   NaN   NaN   NaN
1847-01-02   NaN   NaN   NaN   NaN   NaN
1847-01-03   NaN   NaN   NaN   NaN   NaN
1847-01-04   NaN   NaN   NaN   NaN   NaN
1847-01-05   NaN   NaN   NaN   NaN   NaN
...          ...   ...   ...   ...   ...
2024-09-09   0.0  0.40   NaN  1.26  0.49
2024-09-10   0.0  0.23   NaN  1.26  0.49
2024-09-11   0.0  0.00   NaN  1.77  0.49
2024-09-12   NaN   NaN   NaN  2.27  0.49
2024-09-13   NaN   NaN   NaN   NaN  0.49

[64905 rows x 5 columns]

In [11]:
cross_data = cross_data.loc['1961-01-01': '2023-12-31']
cross_data.to_csv('/path/to/filename.csv')